<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        
        <h1>Welcome to the automatic CVSS sumarrizer version {{ version }}</h1>

    </div>

    <div class="container">
        <div>
            <span>Redirect yourself to the <i>/calculate/</i> url</span>
            The API takes 3 parameters in based on sequence:
            <span>/calculate/{vul}/{host and path to resource}</span>

            <ul>
                <li><p>
                    {vul} : The type of vulnerability. The current tag 
                    that works is SQLi and XSS at the moment
                </p> </li>

                <li><p>
                    {host and path to resource} : The host (ip) that attacks 
                    the victim, the victim here is assumed to be the host
                    that runs the CVSS API
                </p> </li>
                
                
            </ul>
        
        </div>
    </div>
    <div class="container">
        <h4>Still confused?, you can get the feel of it by these following templates</h4>
        <p>Side Note: Calculation can take at most 15 seconds.. the low latency
            calculation is available when you run this in PIPELINE mode. But
            this would need you to have both Kafka and ElasticSearch, and the output
            would reach ElasticSearch first.
        </p>
        <table>
            <th>Usage Examples</th>
            <tr>
                <td>
                    <div class="container">
                        <a href="/calculate/SQLi/rk-sragen.site/">/calculate/SQLi/rk-sragen.site/</a>
                        <p><b>Context: </b>
                            this would calculate an <i>SQLi</i> attack from <i>rk-sragen.site</i>
                            on the local host's root path.
                        </p>
                        <a href="/calculate/XSS/rk-sragen.site/">/calculate/XSS/rk-sragen.site/</a>
                        <p><b>Context: </b>
                            this would calculate an <i>XSS</i> attack from <i>rk-sragen.site</i>
                            on local host's root path.
                        </p>
                        <a href="/calculate/XSS/rk-sragen.site/vulnerable/">/calculate/XSS/rk-sragen.site/</a>
                        <p><b>Context: </b>
                            this would calculate an <i>XSS</i> attack from <i>rk-sragen.site</i>
                            on local host's <i>/vulnerable/</i> path. This would be unreachable by default,
                            which should alter the final result.
                        </p>
                        
                    </div>
                    
                </td>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <b>GitHub page:</b>
        <a href="https://github.com/Falanteris/docker-nethive-cvss">https://github.com/Falanteris/docker-nethive-cvss</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>